[Desktop Entry]
Name=Frequency-Calculation Pro
Comment=Flexible data visualization software for embedded devices and projects
Exec=Frequency-Calculator-pro
Terminal=false
Type=Application
StartupNotify=true
Categories=Electronics;Engineering;Science;
Icon=Frequency-Calculator-pro
X-AppImage-Name=Frequency-Calculation Pro
X-AppImage-Version=3.1.10