[Desktop Entry]
Name=Frequency-Calculation (GPLv3)
Comment=Flexible data visualization software for embedded devices and projects
Exec=Frequency-Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=Electronics;Engineering;Science;
Icon=Frequency-Calculator
X-AppImage-Name=Frequency-Calculation (GPLv3)
X-AppImage-Version=3.1.10